﻿@page "/"
@using System.Timers;
@using System.Text.Json
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h1>Timer Pomodoro</h1>

<div class="timer">@timeLeft</div>
<button @onclick="StartTimer">Démarrer</button>
<button @onclick="PauseTimer">Pause</button>
<button @onclick="DownloadSessionDataAsJson">Télécharger les Données</button>

<div>
    <p>Sessions complètes : @sessionCount</p>
    <p>Minutes travaillées : @minutesWorked</p>
</div>
<script src="js/site.js"></script>

@code {
    private Timer timer;
    private double workDuration = 45 * 60; // 45 minutes
    private double breakDuration = 15 * 60; // 15 minutes
    private double currentTime;
    private int sessionCount = 0;
    private int totalSecondsWorked = 0;
    private bool isWorkingTime = true;
    private string timeLeft => $"{(int)(currentTime / 60)}:{((int)currentTime % 60).ToString("D2")}";


    protected override void OnInitialized()
    {
        currentTime = workDuration;
    }

    private void StartTimer()
    {
        if (timer == null)
        {
            timer = new System.Timers.Timer(1000);
            timer.Elapsed += UpdateTimer;
            timer.AutoReset = true;
            timer.Enabled = true;
        }
    }

    private void PauseTimer()
    {
        timer?.Stop();
        timer = null;
    }

    private void UpdateTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (currentTime > 0)
        {
            currentTime--;
            if (isWorkingTime)
            {
                totalSecondsWorked++;
            }
        }
        else
        {
            if (isWorkingTime)
            {
                sessionCount++;
                InvokeAsync(SaveSessionDataToJsonServer);
            }
            isWorkingTime = !isWorkingTime;
            currentTime = isWorkingTime ? workDuration : breakDuration;
        }

        minutesWorked = totalSecondsWorked / 60;
        InvokeAsync(StateHasChanged);
    }

    private void InitializeTimer()
    {
        if (timer == null)
        {
            timer = new System.Timers.Timer(1000)
                {
                    AutoReset = true,
                    Enabled = false
                };
            timer.Elapsed += UpdateTimer;
        }
    }

    private async Task SaveSessionDataToJsonServer()
    {
        var sessionData = new
        {
            SessionCount = sessionCount,
            MinutesWorked = minutesWorked
        };

        string jsonString = JsonSerializer.Serialize(sessionData);
        await File.WriteAllTextAsync("sessionData.json", jsonString);
    }

    private async Task LoadSessionDataFromJsonClient()
    {
        string jsonString = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "sessionData");
        if (!string.IsNullOrEmpty(jsonString))
        {
            var sessionData = JsonSerializer.Deserialize<dynamic>(jsonString);
            sessionCount = sessionData?.SessionCount;
            minutesWorked = sessionData?.MinutesWorked;
        }
    }

    private async Task DownloadSessionDataAsJson()
    {
        var sessionData = new
        {
            SessionCount = sessionCount,
            MinutesWorked = minutesWorked
        };

        string jsonString = JsonSerializer.Serialize(sessionData);
        await JSRuntime.InvokeVoidAsync("downloadFile", "sessionData.json", jsonString);
    }


    private double minutesWorked;
}
